section.root {
  padding: 24px;
  text-align: center;
}

section.light {
  background-color: var(--background-light);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: var(--background-light-text);
  }
}

section.primary {
  background-color: var(--primary-container);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: var(--primary-container-text);
  }
}

section.secondary {
  background-color: var(--secondary-container);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: var(--secondary-container-text);
  }
}
