:root {
  --primary-dark: #001e44;
  --primary: #1e407c;
  --secondary: #96bee6;

  --application-width: clamp(320px, 90%, 1200px);
}

@font-face {
  font-family: 'AtkinsonHyperlegibleNextVF';
  src: url(https://d9lrerudojc7e.cloudfront.net/fonts/AtkinsonHyperlegibleNextVF-Variable.woff2)
    format('woff2-variations');
}

.body {
  article:not(:first-of-type) {
    margin-block-start: 0.67rem;
  }

  h2 svg {
    height: 2rem;
  }

  p {
    display: inline-block;
  }

  .lorcana-logo {
    vertical-align: top;
  }

  .lorcana-text {
    font-style: italic;
  }
}
