:root {
  --primary-dark: #001e44;
  --primary: #1e407c;
  --secondary: #96bee6;

  --application-width: clamp(320px, 90%, 1200px);
}

@font-face {
  font-family: 'HyperlegibleNext';
  font-optical-sizing: auto;
  src: url(../../static/fonts/AtkinsonHyperlegibleNextVF-Variable.woff2)
    format('woff2');
}

div.body {
  height: 100vh;

  main {
    height: calc(100vh - 1.34rem - 4rem);
    margin: 0px auto;
    max-width: var(--application-width);
    padding: 0.67rem 0px;
    overflow: scroll;

    article:not(:first-of-type) {
      margin-block-start: 0.67rem;
    }

    h1 {
      color: #1e407c;
      font-size: 2rem;
      font-family: 'HyperlegibleNext', 'Montserrat', serif;
      font-weight: 300;
      margin-block: 0px 0.67rem;
    }

    p {
      display: inline-block;
      font-family: 'HyperlegibleNext', 'Roboto', sans-serif;
    }

    .icon {
      color: var(--primary);
    }

    .lorcana-logo {
      vertical-align: top;
    }

    .lorcana-text {
      font-style: italic;
    }
  }
}
