:root {
  color-scheme: light dark;
  --application-width: clamp(320px, 90%, 1200px);

  --primary-dark: #2d4a3e;
  --primary: #5b5b9e;
  --secondary: #1e1e2e;
  --text: #0a0a0a;
  --background: #dedede;

  @media (prefers-color-scheme: dark) {
    --primary-dark: #1a1a1a;
    --primary: #7f70a4;
    --secondary: #51856f;
    --text: #d1d1d1;

    --background: #0a0a0a;
  }
  background-color: var(--background);
}

@font-face {
  font-family: 'AtkinsonHyperlegibleNextVF';
  src: url(https://d9lrerudojc7e.cloudfront.net/fonts/AtkinsonHyperlegibleNextVF-Variable.woff2)
    format('woff2-variations');
}

.body {
  article:not(:first-of-type) {
    margin-block-start: 0.67rem;
  }

  h2 svg {
    height: 2rem;
  }

  p {
    display: inline-block;
    text-wrap: balance;
    text-wrap: pretty;
  }

  .lorcana-logo {
    vertical-align: top;
  }

  .lorcana-text {
    font-style: italic;
  }
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
