.body {
  .grid {
    padding: 0.67rem 0px;

    article {
      background-color: var(--bg-secondary);

      &:hover {
        border-color: var(--accent-green);
      }
    }

    article,
    p {
      display: block;
    }
  }

  h2 svg {
    height: 2rem;
  }

  p {
    display: inline-block;
    text-wrap: balance;
    text-wrap: pretty;
  }

  h2,
  p {
    text-align: left;
  }

  i,
  svg {
    display: block;
    margin-block: 0.83rem;
  }
}
