.root {
  vertical-align: top;
}

.st0 {
  fill: #ff682d;
}
.st1 {
  fill: #393939;
}
.st2 {
  fill: #747474;
}
.st3 {
  fill: #979797;
}
.st4 {
  fill: #484848;
}
.st5 {
  fill: #fa6b32;
}
.st6 {
  fill: #feb646;
}
.st7 {
  fill: #cfff69;
}
.st8 {
  fill: #febb46;
}
.st9 {
  fill: #cfff69;
  enable-background: new;
}
.st10 {
  fill: #ffbc47;
}
.st11 {
  fill: #fa6831;
}
.st12 {
  fill: #ffffff;
}
.st13 {
  fill: #95fff6;
}
