:root {
  --primary-dark: #001e44;
  --primary: #1e407c;
  --secondary: #96bee6;
}

body.body {
  margin: 0px;

  article {
    margin: 0px auto;
    max-width: clamp(320px, 90%, 1200px);

    h1 {
      color: #1e407c;
      font-family: 'Montserrat', serif;
    }

    p {
      font-family: 'Roboto', sans-serif;
    }
  }
}
