:root {
  --primary-dark: #001e44;
  --primary: #1e407c;
  --secondary: #96bee6;

  --application-width: clamp(320px, 90%, 1200px);
}

@font-face {
  font-family: 'HyperlegibleNext';
  font-optical-sizing: auto;
  src: url(/fonts/AtkinsonHyperlegibleNextVF-Variable.woff2) format('woff2');
}

body.body {
  margin: 0px;

  article {
    margin: 0px auto;
    max-width: var(--application-width);

    h1 {
      color: #1e407c;
      font-family: 'HyperlegibleNext', 'Montserrat', serif;
      font-weight: 300;
    }

    p {
      font-family: 'HyperlegibleNext', 'Roboto', sans-serif;
    }
  }
}
