.pretty {
  text-wrap: pretty;
}

.cookbook {
  h1,
  h2 {
    text-wrap: balance;
  }

  h2 {
    margin-block-end: 0px;
  }

  ul {
    display: contents;

    a {
      text-decoration: none;
    }
  }
}
