div.root {
  border: 1px solid;
  margin: 16px auto;
  width: 75%;
}

div.backgroundLightText {
  border-color: var(--background-light-text);
}

div.primary {
  border-color: var(--primary);
}

div.primaryContainerText {
  border-color: var(--primary-container-text);
}

div.secondaryContainerText {
  border-color: var(--secondary-container-text);
}
