.root {
  margin: 0px;

  .heading {
    padding: 0.67rem 0;

    h1 {
      font-size: 2rem;
      font-weight: 300;
      margin: 0px auto;
      max-width: var(--application-width);
    }
  }

  .content {
    margin: 0px auto;
    max-width: var(--application-width);

    :last-child {
      margin-block-end: 0px;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 400;
      margin-block: 0.83rem;
    }

    p {
      text-wrap: balance;
      text-wrap: pretty;
    }
  }
}
