.footer {
  background-color: var(--primary-dark);

  ul {
    list-style: none;
    margin: auto;
    padding: 1rem 0px;
    max-width: var(--application-width);
  }

  a {
    color: white;
    text-decoration: none;
  }

  ul,
  li,
  a {
    height: 1rem;
  }

  li,
  a {
    display: inline-block;
  }

  a:hover {
    color: var(--secondary);
  }

  li:not(:last-child) {
    margin-inline-end: 1rem;
  }
}
