.footer {
  background-color: var(--primary-dark);

  ul {
    list-style: none;
    margin: auto;
    max-width: var(--application-width);
    padding: 1rem 0px;
  }

  a {
    color: white;
    text-decoration: none;

    @media screen and (min-width: 769px) {
      display: grid;
      font-size: 0.75rem;
      grid-template-columns: max-content max-content;
      grid-gap: 0.5rem;
    }

    span {
      display: none;
      @media screen and (min-width: 769px) {
        display: inline;
      }
    }
  }

  a,
  li {
    height: 1rem;
    line-height: 1;
  }

  li {
    display: inline-block;
    @media screen and (min-width: 769px) {
      display: block;
    }
  }

  a:hover {
    color: var(--secondary);
  }

  li {
    vertical-align: top;
    width: max-content;
  }

  li:not(:last-child) {
    margin-inline-end: 1rem;

    @media screen and (min-width: 769px) {
      margin-inline-end: unset;
    }
  }
}
