.root {
  background: var(--bg-card);
  border-top: 1px solid var(--border-color);

  ul {
    list-style: none;
    margin: auto;
    max-width: var(--application-width);
    padding: 1rem 0px;
  }

  a {
    @media screen and (min-width: 769px) {
      display: grid;
      font-size: 0.75rem;
      grid-template-columns: max-content max-content;
      grid-gap: 0.5rem;
    }

    span {
      display: none;
      @media screen and (min-width: 769px) {
        display: inline;
      }
    }
  }

  a,
  li {
    height: 1rem;
    line-height: 1;
  }

  a {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }

    &:focus {
      outline: none;
      outline-offset: none;
      border-radius: none;
      text-decoration: underline;
    }
  }

  li {
    display: inline-block;
    @media screen and (min-width: 769px) {
      display: block;
    }
  }

  li {
    vertical-align: top;
    width: max-content;
  }

  li:not(:last-child) {
    margin-inline-end: 1rem;

    @media screen and (min-width: 769px) {
      margin-inline-end: unset;
    }
  }
}
