html {
  scroll-behavior: smooth;
  font-size: 16px;

  body {
    margin: 0px;
  }

  main {
    margin: 0px auto;
    max-width: var(--application-width);
    padding: 0.67rem 0px;
  }

  .with-scroll {
    height: calc(100vh - 4rem);
    overflow: auto;
  }
}
