html {
  scroll-behavior: smooth;
  font-size: 16px;

  body {
    margin: 0px;
  }

  main {
    height: calc(100vh - 4rem - 0.67rem - 0.67rem);
    margin: 0px auto;
    max-width: var(--application-width);
    overflow: auto;
    padding: 0.67rem 0px;
  }
}
